body {
    background-color: black;
    color: white;
    font-family: Lato;
}
a, a:hover, a:visited {
    color: white;
}
div.main div.header {
    text-align: center;
}
div.main div.nav {
    overflow: hidden;
    background-color: gold;
    color: #ff;
    z-index: 99;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0.25em;
}
div.main div.nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
div.main div.footer {
    text-align: center
}
div.main div.content {
    font-weight: bold;
    text-align: center;
}
